@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
  --primary-color: #28a745;
  --secondary-color: #0284d0;
  --dark-color: #333;
  --light-gray: #f4f4f4;
  --light-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--light-color);
  color: var(--dark-color);
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.primary__color {
  color: var(--primary-color);
}

/* navbar__logo */

#navbar {
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

#navbar #navbar__logo {
  font-size: 30px;
  color: var(--light-color);
}

/*navbar__menu */
#navbar__menu {
  display: flex;
}

#navbar__menu a {
  display: inline-block;
  padding: 10px 20px;
}

#navbar__menu a:hover {
  border-bottom: var(--primary-color) 2px solid;
}
