:root {
  --primary-color: #28a745;
  --secondary-color: #0284d0;
  --dark-color: #333;
  --light-gray: #f4f4f4;
  --light-color: #fff;
}

/* Buttons */

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4px;
}

.primary__btn {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.primary__btn:hover {
  opacity: 0.9;
}

.border__btn {
  background: transparent;
  color: var(--light-color);
  border: var(--light-color) 1px solid;
}

/* Background */

.bg__lightgray {
  background-color: var(--light-gray);
  color: var(--dark-color);
}

.bg__primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.bg__secondary {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

/* flex__columns */
.flex__columns.flex__reverse .row {
  flex-direction: row-reverse;
}

.flex__columns .row {
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row; */
  width: 100%;
}

.flex__columns .row .column {
  display: flex;
  /* flex-direction: column; */
  /* flex-basis: 100%; */
  flex: 1;
}

.row .column .column__1,
.row .column .column__2 {
  height: 100%;
}

.row .column .column__1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row .column .column__2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.column__2 h4 {
  font-weight: 600;
  margin-bottom: 15px;
}

.column__2 h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
